* text=auto

# Prevent config js from misrepresenting github linquist stats
config/* linguist-vendored

# The above will handle all files NOT found below
*.gitattributes text
.gitignore text
*.md text